body {
    background-color: #eae9e7;
}
h1, h4 {
    font-family: 'Sigmar One', cursive;
    /*text-align: center;*/
}
h3, h5 {
    font-family: 'Open Sans', sans-serif;
}
#heading {
    margin: 0px;
    text-align: center;
    width: 100%;
    padding: 60px 0px;
    color: #861e41;
    background-color: #eae9e7;
}
#boggle {
    background-image: url("images/2.jpg");
    background-size: contain;
    height: 800px;
    width: auto;
    background-repeat: round;
}
.board {
    padding-top: 40px;
}
.table {
    width: 60%;
    height: auto;
    margin: 0 auto;
    color: #73628a;
    opacity: 95%;
}
td {
    background-color: white;
    text-align: center;
    border-radius: 8px;
    border: 3px groove #d77033;
    margin: 15px;
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
}
#form {
    color: #861e41;
    height: 100px;
    width: 60%;
    text-align: center;
    padding-top: 75px;
}
#guess {
    font-family: 'Open Sans', sans-serif;
    padding: 3px 10px;
}
#message-text {
    width: 100%;
}
.row {
    margin-top: 20px;
    /*text-align: center;*/
}
.submit_button {
    margin-top: 20px;
    background-color: white;
    border: 3px solid #861e41;
    font-family: 'Open Sans', sans-serif;
}
.progress {
    margin: 0 auto;
    background-color: #eae9e7;
    border: solid 4px white;
    border-radius: 8px;
}
#footer {
    position: fixed;
    bottom: 0;
    background-color: #eae9e7;
    height: 100px;
    width: 100%;
    color: #d77033;
    padding-left: 40px;
}
.ok {
    color: #8fae25;
}
.error {
    color: #ce3d20;
}

