body {
    background-color: #D0E3EA;
    height: 100%;
    color: #c17a5f;
}
h1, h4 {
    font-family: 'Sigmar One', cursive;
}
h3, h5 {
    font-family: 'Open Sans', sans-serif;
}
.dark {
    color: #4F707C;
}

#heading {
    margin: 0px;
    text-align: center;
    padding: 60px 0px;
}

.table {
    margin: 0 auto;
    color: #73628a;
    opacity: 95%;
}
td {
    background-color: #c17a5f;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
}
#guess {
    font-family: 'Open Sans', sans-serif;
    padding: 3px 10px;
    border-radius: 6%;
}
#message-text {
    text-align: center;
    width: 100%;
}
.submit_button {
    background-color: #c1bcba;
    border: 1px solid white;
    border-radius: 6%;
    font-family: 'Open Sans', sans-serif;
}
.progress {
    margin: 0 auto;
    background-color: #c1bcba;
    border: solid 4px white;
    border-radius: 8px;
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #4F707C;
    height: 200px;
    width: 30%;
    color: #d1886a;
    padding: 60px 35px;
    text-align: center;
    border-top-left-radius: 20px;
}
.ok {
    color: #8fae25;
}
.error {
    color: #ce3d20;
}

