{%  extends 'base.html' %}
{% block title %}Boggle{% endblock %}

{% block content %}
    <h1>Boggle</h1>

    <div class="game_board">
{#    list with 5 nested lists containing 5 letters#}
        <table class="table">
            {% for row in board %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{#    form collects player's guess and on submit the guess is added as a BoggleGame class constructor  #}
    <form action="/player_guess" method="POST" class="player_guess">
        <div class="form-group">
            <label for="guess">Guess a Word</label>
            <input type="text" id="guess" class="form-control word_guess" name="word_guess">
            <button type="submit" class="submit_button btn btn-primary">Submit</button>
        </div>
    </form>

{%  endblock %}