{%  extends 'base.html' %}
{% block title %}Boggle{% endblock %}

{% block content %}

{#    <button id="start" class="submit_button btn btn-primary">Start Game</button>#}

    <section id="boggle">

        <div class="board">
    {#    list with 5 nested lists containing 5 letters#}
{#            # solution <table class="board">#}
            <table class="table">
                {% for row in board %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        {#    form collects player's guess and on submit the guess is added as a BoggleGame class constructor  #}
        <div id="game-info">
            <div class="container" id="form">
                <div class="row">
                    <div class="col-md-4">
                        <form id="form-block" method="POST" class="player-guess">
                {#      solution code: <form method="POST" class="add-word">#}
                            <div class="form-group">
                                <input type="text" id="guess" class="word_guess" name="word_guess" placeholder="Guess a Word">
                {#               solution code: <input name="word" class="word" autofocus>#}
                                <br>
                                <button class="submit_button btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        {# player score #}
                        <h4>Score:</h4>
                        <h4 class="score"></h4>
                    </div>
                    <div class="col-md-4">
                        {# highest score #}
                        <h4>High Score:</h4>
                        <h3 class="high-score"></h3>
                    </div>
                </div>
                <div class="row">
            {#        # message to player#}
                    <h4 class="message">Placeholder</h4>
                </div>
        {#        # game timer - progress bar#}
                <div class="progress row">
                    <div class="timer progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </section>


{%  endblock %}