{%  extends 'base.html' %}
{% block title %}Boggle{% endblock %}

{% block content %}
    <h1>Boggle</h1>
    <section id="boggle">
        <div class="board">
    {#    list with 5 nested lists containing 5 letters#}
{#            # solution <table class="board">#}
            <table class="table">
                {% for row in board %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        {#    form collects player's guess and on submit the guess is added as a BoggleGame class constructor  #}
        <form method="POST" class="player-guess">
{#      solution code: <form method="POST" class="add-word">#}
            <div class="form-group">
                <label for="guess">Guess a Word</label>
                <input type="text" id="guess" class="word_guess" name="word_guess">
{#               solution code: <input name="word" class="word" autofocus>#}
                <button class="submit_button btn btn-primary">Submit</button>
            </div>
        </form>

{#        # message to player#}
        <p class="message"></p>
{#        player score#}
        <p class="score"></p>

    </section>
{#    form collects player's guess and on submit the guess is added as a BoggleGame class constructor  #}
{#    <form method="POST" class="add-word">#}
{#        <div class="form-group">#}
{#            <label for="guess">Guess a Word</label>#}
              {# TODO: use this line later on #}
{#            <input type="text" id="guess" class="form-control word_guess" name="word_guess">#}
{#            <input type="text" id="guess" class="word" name="word">#}
{#            <button type="submit" class="submit_button btn btn-primary">Submit</button>#}
{#        </div>#}
{#    </form>#}


{%  endblock %}